<!doctype html>
<html lang="fr">

<head>
   <meta charset="UTF-8" />
   <meta name="description" content="" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

   <title>
      {{ .Site.Title }} | {{ if .Page.Title }}{{ .Page.Title }}{{ end }}
   </title>

   <!-- <link rel="icon" type="image/x-icon" href="{{site.Params.siteLogo}}"> -->

   <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
   <link rel="stylesheet" href="/assets/css/maincd1e.css" />

   <link rel="stylesheet" href="/assets/css/blog0a6d.css" />

</head>

<body class="blog blogpost">
   <div itemid="https://mailmeteor.com/blog/" itemscope itemtype="https://schema.org/Blog">
      {{ partial "header.html" . }}

      {{ block "main" . }}
      {{ end }}
   </div>

   {{ partial "footer.html" . }}

   <script src="/assets/js/jquery.min.js"></script>
   <script src="/assets/js/popper.min.js"></script>
   <script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>