<section class="w-100 mt4">
    <div class="relative w-100 mb4">
        <article class="b--black-10">
            <div class="db ph3 ph0-l no-underline dark-gray">
                <div class="flex flex-column justify-between items-center flex-row-ns">
                    <div class="blah w-100 w-50-ns">
                        <div class="f6 f3-l lh-copy nested-copy-line-height nested-links">
                            <ol>
                                <li><b>Choose:</b> Participants select object(s) to bring in before session (see prompt
                                    below); during the session, participants go around and share what they brought
                                    in and why.
                                </li>
                                <li><b>Connect:</b> Participants draw connections between the objects they shared.
                                </li>
                                <li><b>Consider:</b> Participants think of key considerations when creating solutions to
                                    their topic.

                                </li>
                                <li><b>Create:</b> Participants brainstorm or design solutions to their topic.
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div class="pr3-ns mb4 mb0-ns w-100 w-50-ns tr">
                        <img src="/assets/images/design.png" class="img" alt="image from Chapter VI: Esmeralda">
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>